<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap uap18">

  <Identity
    Name="llvc"
    Publisher="CN=yephick"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1112dbbb-3e07-4eb7-94ff-75f93215527f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>llvc</DisplayName>
    <PublisherDisplayName>yephick</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$" uap18:RuntimeBehavior="win32App">
      <uap:VisualElements
        DisplayName="llvc"
        Description="llvc - lossless video cut, is a utility to cut a video file at RAP (random access point) boundaries that allows for the result frames to be saved in their original encoding, meaning there&apos;s no video transcoding done at all (thus the &quot;lossless&quot; part)"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.scale-200.png"
        Square44x44Logo="Assets\Square44x44Logo.scale-200.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.scale-200.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.scale-200.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="llvcproject">
            <uap:DisplayName>llvc project</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.scale-200.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType>.llvc</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="videosLibrary"/>
  </Capabilities>
</Package>
